* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

html {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

li {
    list-style: none;
}

main {
    display: grid;
    height: 100vh;
    overflow: hidden;
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 0.75rem;
    background-color: #fff;
    border-bottom: 1px solid #e4e4e4;
}

.title {
    font-size: 1.5rem;
}

.body {
    overflow-y: scroll;
    padding: 4.0625rem 0.75rem 4.75rem 0.75rem;
}

.nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 0.75rem;
    background-color: #fff;
    border-top: 1px solid #e4e4e4;

    &__items {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__item {
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.5rem;
        background-color: #e4e4e4;
        cursor: pointer;

        &:hover {
            background-color: darken(#e4e4e4, 6);
        }

        i {
            font-size: 1.25rem;
        }

    }

}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    grid-gap: 2rem;
}

@media (min-width: 768px) {

    main {
        display: grid;
        grid-template-columns: 4rem auto;
        grid-template-rows: 4rem auto;
        grid-template-areas: "nav header"
            "nav body";
        overflow: hidden;
    }

    .header {
        position: relative;
        grid-area: header;
        padding: 1.5rem;
    }

    .body {
        grid-area: body;
        overflow-y: scroll;
        padding: 1.5rem;
    }

    .nav {
        position: relative;
        grid-area: nav;
        border-right: 1px solid #e4e4e4;

        &__items {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__item {
            margin-top: 0.75rem;
            margin-bottom: 0.75rem;
        }

    }

}